@import '../../styles/variables.scss';

.labled-input {
	display: flex;
	flex-flow: column nowrap;
	max-width: 280px;
	width: 100%;

	&__label {
		color: $grey-color;
		font-size: 9px;
		line-height: 100%;
	}

	&__input {
		border: none;
		outline: none;
		border-bottom: 1px solid $secondary-color;
		height: 28px;
		font-size: 13px;
		line-height: 100%;
		color: $black-color;
		font-weight: 500;

		&::placeholder {
			font-size: inherit;
			font-weight: inherit;
			color: $grey-color;
		}

		&:focus::placeholder {
			color: transparent;
		}
	}

	.search-bar {
		width: 290px;
		height: 32px;
		background-color: $light-grey-color;
		border: none;
		border-radius: 5px;
		padding-left: 16px;

		&::placeholder {
			margin: 8px;
		}
	}

	.message-input {
		width: 120%;
		// border: none;
	}
}
