<main class="page profile">
  <div class="profile__wrapper">
    {{{avatar}}}
  </div>
  <form class="profile__settings">
    <ul class="inputs__wrapper inputs-list">
      <li class="input-item"></li>
      <li class="input-item"></li>
      <li class="input-item"></li>
      <li class="input-item"></li>
      <li class="input-item"></li>
    </ul>
    {{{button}}}
  </form>
</main>