$primary-color: #fff;
$secondary-color: #3369f3;
$alert-color: #ff2f2f;
$fill-color: #f8f8f8;
$black-color: #1e1e1e;
$grey-color: #999;
$light-grey-color: #efefef;
$active-talk-color: #e4edfd;
$main-font: 'Inter', sans-serif;
$base-font-size: 12px;
$box-shadow: 0 0 6px 0 rgb(0 0 0 / 14%);
$primary-border-radius: 8px;
