<main class="page not-found-page">
  <h1 class="not-found-page__header">
    <img src={{logo}} alt="логотип" class="logo" />
    404
  </h1>
  <h2 class="not-found-page__subheader">
    Не туда попали
  </h2>
  {{{link}}}
</main>