@import '../../styles/variables.scss';

.not-found-page {
	flex-flow: column nowrap;
	align-items: center;

	&__header {
		position: relative;
		color: $black-color;
		font-size: 40px;
		font-weight: 600;
		line-height: 100%;
		margin-bottom: 60px;
		text-align: center;

		.logo {
			position: absolute;
			right: -40px;
			top: -40px;
			width: 40px;
			height: 40px;
		}
	}

	&__subheader {
		font-weight: 500;
		font-size: 20px;
	}
}
