<main class="page not-found-page">
  <h1 class="not-found-page__header">
    <img src={{logo}} alt="логотип" class="logo" />
    {{errorNumber}}
  </h1>
  <h2 class="not-found-page__subheader">
    {{errorText}}
  </h2>
  {{{link}}}
</main>
